.text-brand-light{
    color: var(--color-accent-light);
}
.text-brand-dark {
    color: var(--color-accent-dark);
}
.text-brand-secondary-dark {
    color: var(--color-secondary-accent-dark);
}
.text-uppercase {
    text-transform: uppercase;
}
.text-bold {
    font-weight: 600;
}