:root {
    --color-primary: #31261A;
    --color-accent-dark: #819B57;
    --color-accent-light: #FAF4EA;

    --color-secondary-accent-light: #CFCFBC;
    --color-secondary-accent-midton: #A18268;
    --color-secondary-accent-dark: #465929;
    --color-secondary-accent-green: #73835A;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;