.form-terms {
    margin: 0 auto;
    max-width: 220px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;

    &__link {
        color: var(--color-primary);
        text-underline-offset: 2px;
        text-decoration: underline;
    }
}