.input{
    &__label {
            display: block;
        }
    
    &__control {
            padding: 16px 42px;
            width: 100%;
            background-color: transparent;
            border: 1px solid var(--color-secondary-accent-midton);
            border-radius: 8px;
            outline: none;
            color: var(--color-secondary-accent-midton);
          
            &:focus {
            
                    border-color: var(--color-accent-dark);
                }
            
            &::placeholder {
                    color: var(--color-secondary-accent-midton);
                    font-size: 14px;
                    line-height: 1.17;
                }
            
            &:focus::placeholder {
                    color: var(--color-primary);
                }
        }
}




