.header{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding-top: 16px;

    @media screen and (min-width: $bp-tablet) {
        padding-top: 32px;
    }

    &__container {
            display: flex;
            align-items: center;
            gap: 40px;
        }
    
    &__nav {
            display: flex;
            align-items: center;
            flex-grow: 1;
            gap: 40px;
    
        }
    
     &__menu {
            display: none;
    
            @media screen and (min-width: $bp-desktop) {
                display: flex;
                gap: 64px;
                flex-grow: 1;
                justify-content: center;
            }
        }
    &__button{
        display: none;
        @media screen and (min-width: $bp-desktop) {
            display: block;
            }
    }

    &__burger{
        width: 24px;
        height: 24px;
        display: block;
        padding: 0;
        border: none;
        cursor: pointer;
        background: transparent;
        fill: var(--color-accent-light);

        @media screen and (min-width: $bp-desktop) {
            display: none;
            
            }
    }
}

